*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
        
video {
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-position: center;
    background-size: cover;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a::after{
    content: '';
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a::hover::after{
    width: 50%; 
} 
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.ab
{
  font-size: 30px;
  line-height: 15px;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  color: rgb(170, 31, 31);

}